---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Ticker from "../components/Ticker.astro";
import MailSection from '../components/MailSection.astro';
import KurseItem from '../components/KurseItem.astro';

const ticker = [
    "Lerne die neuesten Choreografien mit Astrid Kaeswurm",
    "Mehr erfahren & buchen",
    "Kurse, Workshops & Veranstaltungen",
    "Lerne die neuesten Choreografien mit Astrid Kaeswurm",
    "Mehr erfahren & buchen",
    "Kurse, Workshops & Veranstaltungen"
]

import img_hero from "../../public/img/kurse/hero.webp";

import gal1 from "../../public/img/kurse/img1.webp";
import gal2 from "../../public/img/kurse/img2.webp";
import gal3 from "../../public/img/kurse/img3.webp";
import gal4 from "../../public/img/kurse/img4.webp";
import gal5 from "../../public/img/kurse/img5.webp";
import gal6 from "../../public/img/kurse/img6.webp";
import gal7 from "../../public/img/kurse/img7.webp";

---

<Layout>
    <main>
        <div class="desktop">
            <Hero img={img_hero} text="Kurse" credits="Tristan Schnitzler" position="30% 30%" height="45rem" />
        </div>
        <div class="mobile">
            <Hero img={img_hero} text="Kurse" credits="Tristan Schnitzler" position="48% 35%"  height="17rem" />
        </div>
        <Ticker ticker={ticker} />
        
    <div id="content">

        <section class="quote-container section_def">
            <div class="quote">
                <div>
                    <div><img src="/img/astrid-mic.webp" alt="Astrid, die ein Mikrofon hält"></div>
                    <div>
                        <p style="font-weight: 600;">Astrid Kaeswurm</p>
                        <p class="gray">Tänzerin, Trainerin und Autorin im Bereich Line Dance</p>
                    </div>
                    <img class="quote-icon" src="/svg/quote.svg" alt="Quote Icon" width="48px" height="32px">
                </div>
                <p>Die Anmeldung sowie weitere Informationen erhältst du ganz einfach per E-Mail (siehe unten).<br>Ich freue mich, von dir zu hören!</p>
            </div>
        </section>

        <section class="section_def termine" id="Termine">
            <h2 class="desktop typo-36">Termine & Kurse Line Dance 2026</h2>
            <h2 class="mobile typo-36">Termine 2026</h2>

            <h3 class="typo-24">Regelmäßige Kurse:</h3>

            <KurseItem
                title="Line Dance in Piding"
                date="Montags von 18:30 Uhr - 20:00 Uhr"
                address="Reichenhaller Str. 15, 83451 Piding"
            >
                <ul>
                    <li><span>Leitung</span>: Astrid „Cheesy“ Kaeswurm</li>
                    <li>10er-Block <span>100€</span></li>
                    <li>5er-Block <span>60€</span></li>
                    <li>Schnuppertraining <span>5€</span></li>
                </ul>
            </KurseItem>

            <KurseItem
                title="Line Dance im TSC Dance & Lifestyle in Salzburg"
                country="AT"
                date="Dienstags von 18:00 Uhr - 21:00 Uhr"
                address="TSC Dance & Lifestyle - Wiener Bundesstraße 15, 5300 Hallwang bei Salzburg"
            />

            <h3 class="typo-24">Einzelveranstaltungen & Workshops</h3>

            <KurseItem
                title="T-T-T-T - Tanz-Trainer-Tratsch-Treff in Piding"
                date="Freitag, 1. Mai 2026 ab 10:00 Uhr"
                address="Neubichler Alm, Piding"
                linkRef="https://www.facebook.com/events/3857535167793559"
                linkName="Facebook"
            >
                <p>Austausch & Treffen für Tanz-Trainer:innen</p>
            </KurseItem>

            <KurseItem
                title="Internationaler Line Dance Flashmob 2026 in Piding"
                date="Samstag, 2. Mai 2026 um 18:00 Uhr"
                address="Neubichler Alm, Piding"
                linkRef="https://www.facebook.com/events/665130752817202"
                linkName="Facebook"
            />

            <KurseItem
                title="Line Dance Ferien & Festival in Oberstaufen"
                date="Sonntag, 17. Mai 2026 – Sonntag, 24. Mai 2026"
                address="Kurhaus Oberstaufen, Argenstraße 3, 87534 Oberstaufen"
                linkRef="https://www.perfects-events.ch/"
                linkName="Event-Link"
                linkDescription="Anmeldung, Info & Zeitplan"
            />

            <KurseItem
                title="Line Dance AlpFestival in Zell am See-Kaprun"
                country="AT"
                date="Donnerstag, 18. Juni 2026 – Sonntag, 21. Juni 2026"
                address="Festival-Gelände am Parkplatz Maiskogel, 5710 Kaprun"
                linkRef="https://www.zellamsee-kaprun.com/de/event/line-dance-alpfestival-2026~10698"
                linkName="Event-Link"
                linkDescription="Anmeldung, Info & Zeitplan"
            />

        </section>

        <section class="section_def gallery">
            <h2 class="typo-36">Unsere Line Dance Stunden - Sei dabei!</h2>
            <p class="gray">Werde Teil unserer Tanz-Community und erlebe Line Dance live!<br>Egal ob Anfänger oder Fortgeschritten - wir freuen uns auf dich und deine Moves.</p>
        </section>

        <div class="gallery-scroll">
            <div>
                <Image
                    src={gal1}
                    alt="Woman Dancing"
                />
                <Image
                    src={gal2}
                    alt="Group Photo in a row"
                />
                <Image
                    src={gal3}
                    alt="Two people dancing"
                />
                <Image
                    src={gal4}
                    alt="Woman"
                />
                <Image
                    src={gal5}
                    alt="People dancing in the club room"
                />
                <Image
                    src={gal6}
                    alt="Big group photo"
                />
                <Image
                    src={gal7}
                    alt="People line dancing"
                />
                
                <Image
                    src={gal1}
                    alt="Woman Dancing"
                />
                <Image
                    src={gal2}
                    alt="Group Photo in a row"
                />
                <Image
                    src={gal3}
                    alt="Two people dancing"
                />
                <Image
                    src={gal4}
                    alt="Woman"
                />
                <Image
                    src={gal5}
                    alt="People dancing in the club room"
                />
                <Image
                    src={gal6}
                    alt="Big group photo"
                />
                <Image
                    src={gal7}
                    alt="People line dancing"
                />      
                
            </div>
        </div>

        <MailSection href="mailto:astrid@kaeswurm.de?subject=Kurse">
            Jetzt schreiben
        </MailSection>

    </div>
        
    </main>
</Layout>



<style>

    .quote-container {
        display: flex;
        justify-content: center;
    }

    .quote {
        background-color: var(--base-white);
        border-radius: var(--spacing-s);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: var(--spacing-m);
        max-width: 55rem;


        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        

        & > div {
            display: flex;
            gap: var(--spacing-s);

            & > div:first-child {
                width: 3rem;
                min-width: 3rem;
                height: 3rem;
                overflow: hidden;
                border-radius: 0.8rem;

                img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            & img:last-child {
                margin-left: auto;
            }
        }

    }

    .termine {
        display: flex;
        flex-direction: column;

        h2, h3 {
            margin: var(--spacing-m) var(--spacing-s);
        }

    }

    .gallery {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);

        h2, h3 {
            margin: var(--spacing-m) var(--spacing-s);
        }

    }


    .gallery-scroll {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        position: relative;
        padding: 4rem 0;

        & > div {
            display: flex;
            width: max-content;
            animation: scroll 50s linear infinite;
            gap: var(--spacing-m);
            will-change: transform;
            height: 27rem;
            
            img {
                border-radius: var(--spacing-m);
                object-fit: cover;
                height: 100%;
                width: 40rem
            }

            @media (max-width: 900px) {
                
                height: 13rem;

                img {
                    width: 20rem;
                }
            }
        }
    }

    @media (max-width: 730px) {

        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }

    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50.2%);
        }
    }

    @media (max-width: 640px) {
        .quote-icon {
            display: none;
        }

        .quote {
            padding: var(--spacing-s)
        }


    }
</style>