---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Ticker from "../components/Ticker.astro";
import MailSection from "../components/MailSection.astro";
import ShopItem from "../components/ShopItem.astro";

const ticker = [
    "Wir feiern das 15-jährige Jubiläum des Buches mit einer Neuauflage, die derzeit erarbeitet wird und noch im Jubiläumsjahr 2026 erscheinen wird.",
    "Wir feiern das 15-jährige Jubiläum des Buches mit einer Neuauflage, die derzeit erarbeitet wird und noch im Jubiläumsjahr 2026 erscheinen wird."
]

// Images
import book_de from "../../public/img/shop/book-de.webp";
import book_en from "../../public/img/shop/book-en.webp";

import facher_blau_de from "../../public/img/shop/facher-blau-de.webp";
import facher_de from "../../public/img/shop/facher-de.webp";
import facher_en from "../../public/img/shop/facher-en.webp";

// pdf
import leseprobe from "../../public/Von-Anchor-Step-Bis-Weave-Leseprobe-0126.pdf";


---

<Layout>
    <main>
        <Hero text="Shop" blank height="14rem">

        </Hero>
        <Ticker ticker={ticker} speed="50s"/>

        <div id="content">

            <div class="information section_def">
                <h2 class="typo-36">Wichtige Informationen zur Bestellung</h2>
                <p>Für weitere Informationen oder eine Bestellung senden Sie bitte eine E-Mail. Nach Eingang Ihrer Nachricht erhalten Sie von mir die <span>Zahlungsinformationen</span>. Der Versand erfolgt nach Zahlungseingang jeweils am Freitag. Ihre Bestellung wird per E-Mail mit einer Bestellbestätigung inkl. aller relevanten Informationen beantwortet.</p>
                <p>Die Versandkosten richten sich nach dem Lieferland. Für Lieferungen innerhalb Deutschlands und Österreichs wird ein pauschales Porto berechnet. Bei internationalen Sendungen (z. B. Schweiz, Nicht-EU) werden die Versandkosten individuell ermittelt und vorab mitgeteilt. Ein Versand in die USA ist aktuell nicht möglich.</p>
            </div>

            <div class="items section_def">
                <div>
                    <ShopItem
                        name="Von Anchor Step bis Weave – <br> Das Referenzbuch für Line Dance"
                        details="von Astrid Kaeswurm"
                        image={book_de} 
                        tr="DE Version"
                        price="35"
                    />
                </div>

                <div class="gray book_de_text">
                    <p>Dieses Buch schließt eine lang bestehende Lücke: Es ist eines der ersten deutsch-sprachigen Fachbücher zur Tanztechnik im Line Dance. Praxisnah, verständlich und zeitgemäß vermittelt Astrid Kaeswurm technisch korrektes Wissen, das im Training sofort anwendbar ist. Dabei orientiert sich der Inhalt an der aktuellen Entwicklung des Line Dance und wird kontinuierlich weitergedacht. Das Buch dient als wertvolle Unterstützung im Training, ersetzt jedoch weder Gruppen-training noch Ausbildung, sondern sorgt für Klarheit, Verständnis und viele „Aha-Momente“.</p>
                    <a class="gray leseprobe typo-24" href={leseprobe} target="_blank">Leseprobe</a>
                </div>

                <div>
                    <ShopItem 
                        name="Fächer „Wie fing der an?“ <br>"
                        details="in Royal-Blau, Baumwollbespannung, Steg aus Birnenholz, Inkl. Samtbeutel"
                        image={facher_blau_de}
                        price="12"
                    />
                </div>

                <div>
                    <ShopItem 
                        name="Fächer „Wie fing der an?“ <br>"
                        details="in Burgundy-Rot, Baumwollbespannung, Plastiksteg, De. Version"
                        image={facher_de} 
                        tr="DE Version"
                        price="6"
                    />
                </div>

                <div>
                    <ShopItem 
                        name="From Anchor Step to Weave –  <br> A Reference Book for Line Dancers"
                        details="von Astrid Kaeswurm"
                        image={book_en} 
                        tr="Engl. Version"
                        price="35"
                    />
                    <a class="gray leseprobe typo-24" href={leseprobe} target="_blank">Leseprobe</a>
                </div>

                <div>
                    <ShopItem 
                        name="Fächer „How does it start?”"
                        details="in Burgundy-Rot, Baumwollbespannung, Plastiksteg, English Version"
                        image={facher_en} 
                        tr="Engl. Version"
                        price="6"
                    />
                </div>

            </div>

            <MailSection href="mailto:bestellung@linedance-buch.de?subject=Bestellung&body=Ich%20möchte%20folgende%20Inhalte%20bestellen:%0A%0A-%20[HIER%20INHALTE%20AUFLISTEN]%0A%0A%0AMeine%20Adresse:%0A%0AVor-%20und%20Nachname:%20%0AStraße%20und%20Hausnummer:%20%0APLZ und Wohnort:%20">
                Jetzt bestellen!
            </MailSection>
        </div>
    </main>
</Layout>

<style>
    .information {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
        margin-top: var(--spacing-m);

        span {
            font-weight: 600;
        }
    }

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        grid-gap: var(--spacing-m);
        justify-items: center;

        margin-bottom: var(--spacing-l);

        .book_de_text {
            grid-row: 2;
            grid-column: 1;

        }

        .leseprobe {
            text-align: right;
            text-decoration: underline;
            display: block;
            margin-top: var(--spacing-s);
        }

        & > div {
            transform-origin: left;

            @media (max-width: 360px) {
                transform: scale(0.9);
            }
        }

    }


    
    @media (max-width: 1140px) {

        .items {
            grid-template-columns: repeat(2, 1fr);

        }
    }

        
    @media (max-width: 750px) {

        .items {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    
    
        

</style>